

.App-header {
  background-color: #282c34;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:Avenir;
  text-align: center;
  background-image: url("./people.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

/*.App-header img {*/
/*  height: 250px;*/
/*  position: absolute;*/
/*  opacity: 0.25;*/
/*  z-index: 0;*/
/*}*/

.App-header h1 {
  font-size:2em;
}

.App-header nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  background-color: rgba(40, 44, 52, 0.75);
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  background-color: rgba(40, 44, 52, 0.75);
  text-transform: uppercase;
  font-weight: bold;
}

nav div {
  cursor: pointer;
}

nav a:hover {
  opacity: 0.5;
}

nav a {
  text-decoration: none;
  color:white;
}






/*overrides*/
.ReactTable .rt-thead {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #61dafb;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  cursor: pointer;
}

section {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(97, 218, 254, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  position: relative;
}

section .row {
  display: flex;
  flex-direction: row;
}

section .row:first-child div:first-child {
  border-top-left-radius: 10px;
}

section .row:last-child div:first-child {
  border-bottom-left-radius: 10px;
  background-color: #282c34;
}

section .row div:first-child {
  width: 15%;
  font-weight: bold;
  background-color: #61dafb;
  border-bottom: solid;
  border-color: white;
  text-transform: uppercase;
}

section .row div {
  padding: 10px;
}

section .actions {
  position: absolute;
  right: 0px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section .actions .reschedule,  section .actions .cancel{
  background-color:burlywood;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: medium;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

section .actions .reschedule{
  background-color:burlywood;
  color: #282c34;
}

section .actions .cancel {
  background-color:brown;
}



footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-transform: capitalize;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
}

footer div {
  cursor: pointer;
}

footer div:hover {
  opacity: 0.5;
}


