



nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  background-color: rgba(40, 44, 52, 0.75);
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 950px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }

  nav a {
    padding: 5px;
  }
}

nav div {
  cursor: pointer;
}

nav a:hover {
  opacity: 0.5;
}

nav a {
  text-decoration: none;
  color:white;
}






/*overrides*/
.ReactTable .rt-thead {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #61dafb;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  cursor: pointer;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  overflow: visible;
}

@media only screen and (max-width: 950px) {
  .ReactTable .rt-th, .ReactTable .rt-td {
    overflow: hidden;
    font-size: small;
  }
}

section {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(97, 218, 254, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 150px;
  position: relative;
}

section .row {
  display: flex;
  flex-direction: row;
}

section .row:first-child div:first-child {
  border-top-left-radius: 10px;
}

section .row:last-child div:first-child {
  border-bottom-left-radius: 10px;
}

section .row div {
  width: 50%;
}

section .row div:first-child {
  max-width: 300px;
  font-weight: bold;
  background-color: #61dafb;
  border-bottom: solid;
  border-color: white;
  text-transform: uppercase;
}

section .row div {
  padding: 10px;
}

section .actions {
  position: absolute;
  right: 0px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section .actions .amber,  section .actions .red {
  background-color:burlywood;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

section .actions .amber{
  background-color:burlywood;
  color: #282c34;
}

section .actions .red {
  background-color:brown;
}

@media only screen and (max-width: 950px) {
  section .actions {
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100px;
  }

  section .actions .amber,  section .actions .red {
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 300px;
    min-height: 55px;
  }
}

.cell {
  position: relative;
  overflow: visible;
}


